/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*general styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

footer {
    background-color: #e2e1df;
    text-align: center;
    padding: 1rem;

}

h1 {
    font-family: 'Libertinus Math', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
}

h2, h3 {
    font-family: 'Libertinus Math', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    box-shadow: 0 1px 1px; 
    text-align: center;
}

.title {
    font-size: 3rem;
}

.hero {
    height: 300px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
    position: relative;
}

.header-background-image {
    background-color: #e2e1df
}


.background-image {
    background-color: #e9e8e3
}

