/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*general styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1, h2, h3 {
    font-family: 'Libertinus Math', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    box-shadow: 0 1px 1px #333333;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif';
    letter-spacing: normal;
    color: #000000;
}




/*navbar styles with dropdown toggle*/

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #333333;
    padding: 0 1rem;
    display: none;
    top: 100%;
}
/*nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.hero {
    height: 200px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
    position: relative;
}

