/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*general styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #e9e8e3;
}

footer {
    background-color: #e2e1df;
    text-align: center;
    padding: 1rem;

}

h1 {
    font-family: 'Libertinus Math', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
}

h2, h3 {
    font-family: 'Libertinus Math', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    box-shadow: 0 1px 1px; 
    text-align: center;
}

p {
    text-align: center;
}

li {
    text-align: center;
    list-style-type: none;
}

/*nav bar styling*/



.page-header {
    height: 200px;
    width: 100%;
}

.hero {
    height: 300px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
    position: relative;
}

.header-background-image {
    background-color: #e2e1df
}

/*Form styling */

#form-container {
    max-width: 1320px;
    margin: 0;
    padding: 5%;
    align-items: center;
}

.contact-form {
    background: transparent
    padding: 2rem;
    border-radius: 8px;
    border: lightgray solid;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: 1rem;
    align-items: center;
}

.contact-form button {
    border: solid lightgray;
    cursor: pointer;
}